#fp-nav{
    transition:all 0.5s 0.5s; /*뒤에는 딜레이값*/
}

#main #fp-nav.on{
    right:-200px;
}

#main .fp-slidesNav ul li {
    display: block;
    width: 30px;
    height: 30px;
    margin: 15px;
    position:relative;
}

#main .fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #fff;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#main #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: Noto sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    text-align:left;
    cursor: pointer;
}

#main #fp-nav ul li:hover .fp-tooltip,
#main #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}

#main #fp-nav ul li:hover a span{
    width: 4px;
    height: 4px;
    margin: -2px 0px 0px -2px;
}
#main #fp-nav ul li a.active span{
    height: 4px;
    width: 4px;
    margin: -2px 0 0 -2px;
    border-radius: 100%;
 }
 #main #fp-nav ul li a span:after{
     content:'';
     display:block;
     width:30px;
     height:30px;
     border:2px solid #fff;
     border-radius:100%;
     position:absolute;
     left:50%;
     top:50%;
     transform:translate(-50%,-50%) scale(0);
     transition:all 0.1s ease-in-out;
 }
 #main #fp-nav ul li a.active span:after{
    transform:scale(1);
 }